body{
   padding: 70px;
}

.but-cont{
    padding: 50px;
    
}

.btn1,.btn2,.btn3{
    cursor: pointer;
    transition: 0.6s;
    color: aqua;
}
.btn1:hover,.btn2:hover,.btn3:hover{
    color: #000;
}

.tbt{
    background-color: blueviolet;
    font-size: larger;
}
.tbv{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: rgb(43, 226, 55);
    font-weight: bolder;
}